.main {
    background-image: url("C:\\Users\\balas\\Documents\\scrimba_react\\reactfacts\\src\\assets\\bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: #1e1e1e;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 30px ;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
}
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 1.2rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  li::before {
    content: "•";
    color: #61dafb;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  